services:

  database:
    image: postgres:15-alpine
    container_name: db_sincofarma
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

  backend:
    command: sh -c "npm run migrate:up && npm run dev"
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: trabalho_residencia
    ports:
      - "${BACKEND_PORT}:8000"

    volumes:
      - ./backend:/usr/src/app
      - uploads-data:/usr/src/app/uploads

    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      PORT: 8000

      PGHOST: database
      PGPORT: 5432
      PGUSER: ${DB_USER}
      PGPASSWORD: ${DB_PASSWORD}
      PGDATABASE: ${DB_NAME}

    depends_on:
      - database
    networks:
      - app-network
    restart: unless-stopped

volumes:
  db-data:
  uploads-data:

networks:
  app-network:
    driver: bridge
